
<aside class="main-sidebar sidebar-light-teal">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="ml-1 brand-image-xl ">
            <i class="fas fa-fish text-teal" style="width:40px"></i>
        </span>
        <span class="brand-text">
            <span>Spoonacular</span>
            
        </span>
    </a>
    <!-- Sidebar -->
    <div >
        <nav class="navbar">
            <ul class="navbar-nav px-0 col-12">
                <li class="nav-item ">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <span class="d-block col-2 text-center">
                            <i class="fas fa-clipboard text-teal"></i>
                        </span>
                        <span class="d-block text-gray col-9 ml-auto">My orders</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <span class="d-block col-2 text-center">
                            <i class="fas fa-info text-teal"></i>
                        </span>
                        <span class="d-block text-gray col-9 ml-auto">About us</span>
                    </a>
                </li><li class="nav-item ">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <span class="d-block col-2 text-center">
                            <i class="fas fa-cogs text-teal"></i>
                        </span>
                        <span class="d-block text-gray col-9 ml-auto">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>