@using Newtonsoft.Json
@{
    ViewBag.Title = "Home Page";
}
    <div class="content-header my-2 text-center">
        <h3 class="font-weight-normal my-1 custom-heading">Browse your Favourite Recipies</h3>
    </div>

    <div class="content d-flex ">
        <div class="d-inline-block  mx-auto">
            <div id="cardSpace" class="row justify-content-center">


            </div>
            <div id="infiniteDiv" class="d-flex align-items-center justify-content-center" style="height:150px">
                <div id="infiniteSpinner" class="lds-ellipsis">
                    <div></div><div></div><div></div>
                </div>
            </div>
        </div>
        
    </div>
@section scripts
{
    <script>
        


        function getTotalLikes() {
            $.ajax({
                type: "get",
                url: "http://localhost:53727/food/GetLikeCount",
                headers: {  'Access-Control-Allow-Origin': '*' },
                crossDomain: true,
                success: function (data) {
                    
                    $("#likedCount").text(data); 
                },
                error: function () {
                    console.log("GettingLikes is hard u know :(");
                }
            });
        }
        function loadContent() {
            $.ajax({
                type: "GET",
                url: "https://api.spoonacular.com/recipes/random",
                dataType: "json",
                data: {
                    'number': 10,
                    'apiKey': 'e7b2053b89fc46d1a55f57ec23b4a9c6'
                },
                success: function (data) {
                    
                    data.recipes.forEach((recipe) => {
                        $(renderCardMarkup(recipe)).appendTo($('#cardSpace'));
                    });
                    $("#infiniteSpinner").css("display", "none");
                }
            });
        }
        function renderCardMarkup({ title, servings, readyInMinutes, pricePerServing, spoonacularScore, image, id, extendedIngredients }) {
            return `<div class="card card-medium m-2">
                    <div class="card-img-overlay p-2 d-flex justify-content-end">
                        <div class="d-flex flex-column">
                            <button id="markFavourite" class="btn custom-card-btn">
                                <i  data-recipeId=${id} class="fas my-1  fa-heart text-white"></i>
                            </button >
                            <button id="addToCart" class="btn custom-card-btn">
                                <i data-recipeId=${id} class="fas my-1  fa-cart-plus text-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="custom-card-img">
                        <img id="recipe-src" src='${image}' alt="Alternate Text" class="card-img"  />
                    </div>
                    <div class="m-2 d-flex" style="flex-direction:column">
                        <h3 id="recipe-title" class="card-title custom-card-title">${title}</h3>
                        <p class="card-text summary-text">lorem ipsum summary dotem poasdmaklsndand aosdnjasn</p>
                        <div class="recipie-card-info">
                            <div class="showcase-info">
                                <span href="#" class="showcase-text">Servings</span>
                                <span id="recipe-servings" class="text-secondary">${servings}</span>
                            </div>
                            <div class="showcase-info" >
                                <span href="#" class="showcase-text">Score</span>
                                <span id="recipe-score" class="text-secondary">${spoonacularScore}</span>
                            </div>
                            <div class="showcase-info" >
                                <span href="#" class="showcase-text">Price</span>
                                <span id="recipe-price" class="text-secondary">${pricePerServing}</span>
                            </div>
                            <div class="showcase-info" >
                                <span href="#" class="showcase-text">Time</span>
                                <span id="recipe-time" class="text-secondary">${readyInMinutes}</span>
                                <span>min</span>    
                            </div>
                                
                        </div>
                    </div>

                    <span style="display:none" id="recipe-ingredients">${JSON.stringify(extendedIngredients)}</span >
                </div>`
        }
        function getTotalCartIngredients() {
            $.ajax({
                type: "get",
                url: "http://localhost:53727/food/GetPurchaseCount",
                headers: {  'Access-Control-Allow-Origin': '*' },
                crossDomain: true,
                success: function (data) {
                    
                    $("#ingredientsCount").text(data); 
                },
                error: function () {
                    console.log("GettingLikes is hard u know :(");
                }
            });
        }
        function getCartIngredients() {
            $.ajax({
                type: "get",
                dataType:"json",
                url: "http://localhost:53727/food/GetIngredientsCart",
                headers: {  'Access-Control-Allow-Origin': '*' },
                crossDomain: true,
                success: function (data) {

                    console.log(data);
                },
                error: function () {
                    console.log("GettingLikes is hard u know :(");
                }
            });
        }

        $(function () {

            getTotalLikes();
            getTotalCartIngredients();
            getCartIngredients();
              
            $("#cardSpace").on('click', "#markFavourite i,#addToCart i", (e) => {

                var actionType = $(e.target).parent().attr('id');
                

                if (actionType == "markFavourite") {
                    var cardSpace = $(e.target).closest(".card");
                    

                    $.ajax({
                        type: "post",
                        url: "http://localhost:53727/food/addToCart",
                        dataType: 'json',
                        headers: {  'Access-Control-Allow-Origin': '*' },
                        crossDomain: true,
                        data: {
                            'Recipe': {
                                Image: cardSpace.find("#recipe-src").attr('src'),
                                Summary: 'lorem ipsum summary dotem poasdmaklsndand aosdnjasn',
                                Title: cardSpace.find("#recipe-title").text(),
                                Servings: cardSpace.find("#recipe-servings").text(),
                                Score: cardSpace.find("#recipe-score").text(),
                                Price: cardSpace.find("#recipe-price").text(),
                                Time: cardSpace.find("#recipe-time").text(),
                                recipeId: $(e.target).attr("data-recipeId"),
                                extendedIngredients: cardSpace.find("#recipe-ingredients").text()
                            }
                        },
                        success: function (response) {
                           
                            if (response>0) {
                                $(e.target).removeClass("text-white");
                                $(e.target).addClass("text-teal");
                                getTotalLikes();
                            }
                            if (response == -1) {
                                $(e.target).removeClass("text-teal");
                                $(e.target).addClass("text-white");
                                
                                $.ajax({
                                    url: "http://localhost:53727/food/remove/" + $(e.target).attr("data-recipeId").toString(),
                                    headers: { 'Access-Control-Allow-Origin': '*' },
                                    crossDomain: true,
                                    type: "delete",
                                    success: function (data) {
                                        getTotalLikes();
                                    }
                                    
                                })
                            }
                        }
                        
                    })
                }
                if (actionType == "addToCart") {
                    var cardSpace = $(e.target).closest(".card");

                    $.ajax({
                        type: "post",
                        dataType: "text",
                        headers: { 'Access-Control-Allow-Origin': '*' },
                        crossDomain: true,
                        url: "http://localhost:53727/food/PurchaseIngredients",
                        data: {
                            'Recipe': {
                                jsonExtendedIngredientsArray: cardSpace.find("#recipe-ingredients").text(),
                                recipeId: $(e.target).attr("data-recipeId"),
                                Image: cardSpace.find("#recipe-src").attr('src'),
                                Summary: 'lorem ipsum summary dotem poasdmaklsndand aosdnjasn',
                                Title: cardSpace.find("#recipe-title").text(),
                                Servings: cardSpace.find("#recipe-servings").text(),
                                Score: cardSpace.find("#recipe-score").text(),
                                Price: cardSpace.find("#recipe-price").text(),
                                Time: cardSpace.find("#recipe-time").text()
                            }
                        }

                    })
                        .then(response => {
                                $(e.target).removeClass("text-white");
                            $(e.target).addClass("text-teal");
                            getTotalCartIngredients();
                        })
                        .catch(err => console.log("Some error occured :("))
                }
            });

            //Spinner
            var spinner = $("#infiniteSpinner");
            //
            //inifinite Scroll
            const options = {
                threshold:0.9
            };
            var observer = new IntersectionObserver((entries, obs) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        spinner.css("display", "block");
                        loadContent();
                        
                    }
                })
            }, options);
            
            observer.observe($("#infiniteDiv")[0]);
            //

            
            
        })
    </script>
}
