@{
    ViewBag.Title = "Home Page";
}
    <div class="content-header my-2 text-center">
        <h3 class="font-weight-normal my-1 custom-heading">Browse your Favourite Recipies</h3>
    </div>

    <div class="content d-flex ">
        <div class="d-inline-block  mx-auto">
            <div class="row">
                <div class="card card-medium m-2">
                    <img src="~/Content/Images/user1-128x128.jpg" alt="Alternate Text" class="card-img" />
                    <div class="card-body">
                        <h3 class="card-title">Spaghetti</h3>
                    </div>
                </div>
                <div class="card card-medium m-2">
                    <img src="~/Content/Images/user1-128x128.jpg" alt="Alternate Text" class="card-img" />
                    <div class="card-body">
                        <h3 class="card-title">Spaghetti</h3>
                    </div>
                </div>
                <div class="card card-medium m-2">
                    <img src="~/Content/Images/user1-128x128.jpg" alt="Alternate Text" class="card-img" />
                    <div class="card-body">
                        <h3 class="card-title">Spaghetti</h3>
                    </div>
                </div>
                <div class="card card-medium m-2">
                    <img src="~/Content/Images/user1-128x128.jpg" alt="Alternate Text" class="card-img" />
                    <div class="card-body">
                        <h3 class="card-title">Spaghetti</h3>
                    </div>
                </div>
                <div class="card card-medium m-2">
                    <img src="~/Content/Images/user1-128x128.jpg" alt="Alternate Text" class="card-img" />
                    <div class="card-body">
                        <h3 class="card-title">Spaghetti</h3>
                    </div>
                </div>
            </div>
        </div>
        
    </div>